body {
  font-family: Arial, sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  padding: 30px;
  background: plum;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  width: 600px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;

}

label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: large;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: border-color 0.3s
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;

}

#submit {
  border: none;
  background-color: orangered;
  color: white;
  width: 200px;
  margin-top: 10px;
  border-radius: 5px;
}

#submit:hover {
  background-color: yellowgreen;

}
