body {
      font-family: Arial, sans-serif;
      background: #f0f2f5;
      display: block;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form-container {
      background: #fff;
      padding: 30px;
      border-radius: 60px;
      box-shadow: 0 60px 60px rgba(0,0,0,0.1);
      width: 1000px;
	  height: 1200px;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
	  
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #555;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 100px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s;
    }

    input:focus {
      border-color: #007BFF;
      outline: none;
    }



    button {
      width: 100%;
      padding: 10px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #0056b3;
    }

    .success-message {
      text-align: center;
      color: green;
      font-weight: bold;
      display: none;
    }

    .error {
      border-color: red;
    }
