body {
  font-family: Arial, sans-serif;
  background: #fff;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: plum;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  box-shadow: 2 60px 60px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 1200px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;

}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: large;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  margin-bottom: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007BFF;
  outline: none;
}



#submit {
  border: none;
  background-color: orangered;
  color: white;
  width: 200px;
  margin-top: 10px;
  border-radius: 5px;
}

#submit:hover {
  background-color: yellowgreen;

}

